body{
    background-color: grey;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: monospace;
    font-size: 20px;
}

h1{
    font-size: 28px;
}

input{
    font-size: 20px;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    font-family: monospace;
}

button{
    margin: 20px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 18px;
}

.resultado{
    background-color: white;
    color: black;
    border-radius: 15px;
    height: 170px;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}